<div  class="container">
    <div  *ngIf="!globalVariableService.isAdmin"
    style="color: red; padding: 1vw 1vh; font-size: 1.5vw;">
        You are not authorized to access this panel! 
        <a (click)="loginAdmin()"
        style="color: blue; cursor: pointer;">Login</a>
         as Administrator</div>
    <div *ngIf="globalVariableService.isAdmin" class="margin">
        <!--Side fade box-->
        <div class="side-fade-box"></div>
       
        <div *ngIf="orders.length == 0"
    style="letter-spacing: 0.3vw; font-weight: bold; color: dodgerblue; padding: 1vw 1vh; font-size: 1.2vw;margin-left: 3vw;">
        NO PENDING DOCKETS</div>


        <div *ngFor="let order of orders; index as j;">

            <div *ngIf="order.state=='ORDERED' || order.state=='PREPARING'" class="docket-container prevent-select">

                <!--Loose Containers-->
                <div class="table-num" [style.backgroundColor]=getOrderColor(order.orderType)
                    *ngIf="order.orderType=='Dine-in'">
                    {{order?.tableNum}}</div>

                <!--Relative Containers-->
                <div class="order-type" [style.backgroundColor]=getOrderColor(order.orderType)>{{order.orderType}}</div>

                <br>
                <div style="position: relative;height: 5.5vh;">
                    <a class="docket-timer"
                        [style.color]=getOrderColor(order.orderType)>{{findTimer(order.orderTime)}}</a>
                    <a class="complete-rate"
                        *ngIf="order.state == 'PREPARING'">{{roundPercent(order.completedPercent)}}%</a>
                </div>

                <div class="progress-container" *ngIf="order.state == 'PREPARING'">
                    <div class="progress-runner" [style.width.%]="order.completedPercent"></div>
                </div>

                <div style="position: relative; margin-top: 1vh; height: 2vh;" *ngIf="order.completedPercent == 100">
                    <button class="complete-btn" (click)="sendToBiling(j)">Complete Docket</button>
                </div>


                <br>

                <div class="scrollable-content">
                    <!--FOOD-->
                    <div class="item-heading" [style.color]=getOrderColor(order.orderType)
                        *ngIf="order.foodOrder.length!=0">
                        <i class="fas fa-utensils" style="margin-left: 0.3vw;"></i>
                        <span style="margin-left: 0.7vw;">Food</span>
                    </div>
                    <div class="item-content" *ngIf="order.foodOrder.length!=0">
                        <div class="item" *ngFor="let food of order.foodOrder; index as i;"
                            (swipeleft)="handleResetItem(j, i, 'foodOrder'); swiping=true"
                            (swiperight)="handleCompleteItem(j, i, 'foodOrder'); swiping=true"
                            (click)="swiping ?( swiping = false ) : handleItemClick(j, i, 'foodOrder')"
                            [(style.backgroundColor)]="orderStateColor[food.state]">
                            <a style="color: black; font-size: 1vw;">{{food.label}}</a><br>
                            <a style="color: rgb(51, 51, 51); font-size: 0.8vw;">{{food.addon}}</a>

                            <div class="item-quantity">
                                <a style="font-family: 'calibri'; font-size: 1vw;" *ngIf="food.state!='PREPARING'">
                                    x {{food.quantity}}</a>
                                <a style="font-family: 'calibri'; font-size: 1vw;" *ngIf="food.state=='PREPARING'">
                                    {{food.completedCount}} / {{food.quantity}}</a>

                            </div>
                        </div>
                    </div>

                    <!--BEVERAGE-->
                    <div class="item-heading" [style.color]=getOrderColor(order.orderType)
                        *ngIf="order.drinkOrder.length!=0">
                        <i class="fas fa-coffee"></i>
                        <span style="margin-left: 0.5vw;">Beverage</span>
                    </div>
                    <div class="item-content" *ngIf="order.drinkOrder.length!=0">
                        <div class="item" *ngFor="let drink of order.drinkOrder; index as i;"
                            (swipeleft)="handleResetItem(j, i, 'drinkOrder'); swiping=true"
                            (swiperight)="handleCompleteItem(j, i, 'drinkOrder'); swiping=true"
                            (click)="swiping ?( swiping = false ) : handleItemClick(j, i, 'drinkOrder')"
                            [(style.backgroundColor)]="orderStateColor[drink.state]">
                            <a style="color: black; font-size: 1vw;">{{drink.label}}</a>

                            <div class="item-quantity">
                                <a style="font-family: 'calibri'; font-size: 1vw;" *ngIf="drink.state!='PREPARING'">
                                    x {{drink.quantity}}</a>
                                <a style="font-family: 'calibri'; font-size: 1vw;" *ngIf="drink.state=='PREPARING'">
                                    {{drink.completedCount}} / {{drink.quantity}}</a>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="customer-content">
                    <br>
                    Order for {{customerData[order.customer]?.fname}} {{customerData[order.customer]?.lname}}<br>
                    <a style="color: rgb(226, 200, 150); font-size: larger; font-weight: bold;">{{order.customer}}</a><br>
                    <p *ngIf="order.comment != ''">Comments:
                        {{order.comment}}
                    </p>
                    <p *ngIf="order.comment == ''">** NO COMMENTS **
                    </p>
                    <div style="position: absolute;right: 1.5vw; top: 3vh; font-size: 2vw;" *ngIf="customerData[order.customer]?.rating">
                        {{customerData[order.customer]?.rating}}
                        <i class="fas fa-star"></i>
                    </div>
                    <div style="position: absolute;right: 1.5vw; top: 3vh; font-size: 2vw;" *ngIf="!customerData[order.customer]?.rating">
                        <i class="fa-solid fa-triangle-exclamation" style="color: rgb(245, 126, 126);"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="globalVariableService.isAdmin" class="side-helper" [style.width.vw]="summaryWidth">
        <div class="helper-heading">S U M M A R Y</div>
        <div class="minimizer"
        (click)="showSummary()">
            <i class="fas fa-chevron-left" style="margin-top: 1.8vw;"></i>
        </div>
        <br>
        <div style="overflow-y: auto; height: 80vh;" 
        *ngIf="foodSummary != null || drinkSummary != null || addonSummary != null">
            <div class="item-heading"  *ngIf="foodSummary != null">
                <i class="fas fa-utensils" style="margin-left: 0.3vw;"></i>
                <span style="margin-left: 0.7vw;">Food</span>
            </div>
            <br>
            <div class="item SummaryItem" *ngFor="let item of foodList">
                <a style="color: black; font-size: 1vw;">{{item}}</a>
                <div class="item-quantity">
                    <a *ngIf="foodSummary[item]['Dine-in']!=0"
                    style="font-family: 'calibri'; font-size: 1vw; font-weight: bold; background-color:#0B5FA3;padding: 0.5vh 0.5vw; color: lightgray;">
                        x {{foodSummary[item]['Dine-in']}}</a>

                    <a  *ngIf="foodSummary[item]['Takeaway']!=0"
                    style="font-family: 'calibri'; font-size: 1vw; font-weight: bold; background-color:#a30b69;padding: 0.5vh 0.5vw; color: lightgray;margin-left: 0.2vw;">
                        x {{foodSummary[item]['Takeaway']}}</a>
                </div>
            </div>
            <br>
            <div class="item-heading" *ngIf="addonSummary != null">
                <i class="fas fa-puzzle-piece"></i>
                <span style="margin-left: 0.7vw;">Addons</span>
            </div>
            <br>
            <div class="item SummaryItem" *ngFor="let item of addonList">
                <a style="color: black; font-size: 1vw;">{{item}}</a>
                <div class="item-quantity">
                    <a *ngIf="addonSummary[item]['Dine-in']!=0"
                    style="font-family: 'calibri'; font-size: 1vw; font-weight: bold; background-color:#0B5FA3;padding: 0.5vh 0.5vw; color: lightgray;">
                        x {{addonSummary[item]['Dine-in']}}</a>

                    <a  *ngIf="addonSummary[item]['Takeaway']!=0"
                    style="font-family: 'calibri'; font-size: 1vw; font-weight: bold; background-color:#a30b69;padding: 0.5vh 0.5vw; color: lightgray;margin-left: 0.2vw;">
                        x {{addonSummary[item]['Takeaway']}}</a>
                </div>
            </div><br>
            <div class="item-heading" *ngIf="drinkSummary != null">
                <i class="fas fa-coffee"></i>
                <span style="margin-left: 0.5vw;">Beverage</span>
            </div>
            <br>
            <div class="item SummaryItem" *ngFor="let item of drinkList">
                <a style="color: black; font-size: 1vw;">{{item}}</a>
                <div class="item-quantity">
                    <a *ngIf="drinkSummary[item]['Dine-in']!=0"
                    style="font-family: 'calibri'; font-size: 1vw; font-weight: bold; background-color:#0B5FA3;padding: 0.5vh 0.5vw; color: lightgray;">
                        x {{drinkSummary[item]['Dine-in']}}</a>

                    <a  *ngIf="drinkSummary[item]['Takeaway']!=0"
                    style="font-family: 'calibri'; font-size: 1vw; font-weight: bold; background-color:#a30b69;padding: 0.5vh 0.5vw; color: lightgray;margin-left: 0.2vw;">
                        x {{drinkSummary[item]['Takeaway']}}</a>
                </div>
            </div>
            <br><br><br><br>
        </div>
        

        <div style="color: white;"
            *ngIf="foodSummary == null && drinkSummary == null && addonSummary == null">
                <pre><p style="color:goldenrod; margin-left: 1vw; font-size: 1vw;margin-left: 2vw;">N O   P E N D I N G   D O C K E T S</p></pre>
        </div>
        <div class="bottom-fade"></div>
    </div>
    
</div>
