.container {
    background-color: grey;
    width: 100vw;
    height: 7vh;
}

.adminhaed {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .adminhaed li {
    float: right;
  }
  
  .adminhaed li a {
    display: block;
    color: white;
    text-align: center;
    padding: 2vh 1.5vw;
    text-decoration: none;
    font-size: 0.8vw;
  }
  
  .adminhaed li a:hover:not(.active) {
    background-color: #111;
  }



  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(128, 128, 128, 0);
    color: white;
    width: 100vw;
  }

  .brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    margin-left: 1rem;
    text-shadow: 1px 1px 2px black;
    display: flex;
  }

  .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar-links li {
    list-style: none;
  }

  .navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: .8rem;
    display: block;
    text-shadow: 1px 1px 2px black;
  }

  .navbar li:hover {
    background-color: #55555579;
  }

  .toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
  }

  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }

  @media (max-width: 700px) {
    .toggle-button {
      display: flex;
    }

    .navbar-links {
      display: none;
    }
  }