/* width */
::-webkit-scrollbar {
    width: 0.2vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .content {
    background-color: rgb(29, 29, 29);
    border-radius: 60px 60px 0 0;
    box-shadow: 0 0.8vw 1.4vw 0 rgba(0, 0, 0, 0.8);
    height: 92vh;
    width: 90vw;
    display: inline-block;
    text-align: left;
    
  }
  
  @media (max-width: 800px) {
    .content {
      width: 100vw;
    }

    .cheff-css {
      display: none;
    }
  }

  .cheff-css {
    position: absolute;
    left: -1.5vw;
    top: 0;
    width: 15vw;
    z-index: 1;
  }

  .grid {
    overflow-y: auto;
    overflow-x: hidden;
    height: 76vh;
    display: grid;
    grid-gap: 8px;
    padding: 16px;
    
  }

  @media (min-width: 500px) {
    .grid{
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 960px) {
    .grid{
      grid-template-columns: repeat(3, 1fr);
    }
  }
  @media (min-width: 1200px) {
    .grid{
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .col {
    height: 250px;
    position: relative;
    z-index: 0;
  }