<div style="position: relative;">
<br>
<div style="height: 4vh; padding: 0 4vw">
    <button class="addItem" (click)="openAddModal()">Add Item</button>
</div><br>
<div style="height: 75vh; overflow-y: auto; padding: 0 4vw; padding-bottom: 3vh; padding-top: 1vh;">
    <div class="item" *ngFor="let item of items; index as j;" >
        {{item.label}}
        <button style="background-color:green" *ngIf="item.isAvailable" (click)="changeAvailability(j)">AVAILABLE</button>
        <button style="background-color: red;" *ngIf="!item.isAvailable"  (click)="changeAvailability(j)">SOLDOUT</button>
        <button (click)="openUpdateModal(item)">UPDATE</button>
    </div>
</div>

<div class="modal-container" *ngIf="isModal">
    <i class="fas fa-window-close close-modal" (click)="closeModal()"></i>
    <app-item-crud [data]="choosen_item_data" [crud]="choosen_crud"></app-item-crud>
</div>
</div> 