<div  *ngIf="!globalVariableService.isAdmin"
    style="color: red; padding: 1vw 1vh; font-size: 1.5vw;">
        You are not authorized to access this panel! 
        <a (click)="loginAdmin()"
        style="color: blue; cursor: pointer;">Login</a>
         as Administrator</div> 
<div style="position: relative;"   *ngIf="globalVariableService.isAdmin">
    <div style=" padding: 2vh 4vw; margin:0; height: 5vh;">
        <button class="addItem" (click)="openAddModal()" style="float:right">Add Item</button>
        <div style="font-size: 1vw;width: 9vw; float: left; padding-top: 1vh;" >Filter by Category : </div>
        <select style="padding: 1vh 1vw; padding-left: 0.5vw; margin:0; outline: none; font-size: 0.8vw;border: none;
        box-shadow: 0 0.1vw 0.2vw 0 rgba(0, 0, 0, 0.3); float: left; " [(ngModel)]="fliter_category">
            <option value="all">All</option>
            <option [ngValue]="category.id" *ngFor="let category of categories">{{category.label}}</option>
        </select>
    </div>
    
    <div style="height: 77vh; overflow-y: auto; padding: 0 4vw; padding-bottom: 3vh; padding-top: 1vh;">
        <div *ngFor="let item of items; index as j;">
            <div class="item" *ngIf="fliter_category == 'all' || fliter_category == item.category"
            [style.backgroundColor]="item.isAvailable ? 'white' : '#e6e3e3'">
                <i class="fas fa-eye-slash" style="float:left; color: red; font-size: 1.3vw; margin-left: 0.5vw;" *ngIf="!item.isAvailable"  (click)="changeAvailability(j)"></i>
                <i class="fas fa-eye" style="float:left; color: grey; font-size: 1.3vw; margin-left: 0.5vw;" *ngIf="item.isAvailable"  (click)="changeAvailability(j)"></i>
                <div style="font-size: 1vw; width: 18vw; float: left;margin-left: 1vw;">{{item.label}}</div>
                <div style="font-size: 1.5vw; width: 5vw; float: left;margin-left: 1vw;">${{item.price}}</div>
                <div style="font-size: 0.8vw; width: 6vw; float: left;text-transform: uppercase;
                font-weight: bold; text-align: center; color: white;
                 padding: 0.8vh 1vw;" [style.backgroundColor]="categoryColorData[item.category]"
                 >{{categoryData[item.category]}}</div>

                 <div style="float:left;  width: 6vw; text-align: center;font-size: 1vw;">
                    {{item.buyCount}}<i class="fas fa-heart" style="color: rgb(206, 96, 96); font-size: 1.3vw; margin-left: 0.5vw;"></i></div>

                
                <button style="box-shadow: 0 0.1vw 0.2vw 0 rgba(0, 0, 0, 0.3);font-size: 1vw; width: 8vw; padding: 1vh 1vw;color: white;
                float: right; background-color: rgb(189, 103, 117); border: none; margin-right: 1vw;border-radius: 0.5vw;" (click)="deleteItem(item.label, item.id)">DELETE</button>
                <button style="box-shadow: 0 0.1vw 0.2vw 0 rgba(0, 0, 0, 0.3);font-size: 1vw; width: 8vw; padding: 1vh 1vw;color: white;
                float: right; background-color: rgb(17, 102, 102); border: none; margin-right: 0.2vw;; border-radius: 0.5vw;" (click)="openUpdateModal(item)">UPDATE</button>
            </div>
        </div>
    </div>

    <div class="modal-container" *ngIf="isModal">
        <i class="fas fa-window-close close-modal" (click)="closeModal()"></i>
        <app-item-crud [data]="choosen_item_data" [crud]="choosen_crud" (isComplete)="closeModal()"></app-item-crud>
    </div>
</div>