<div class="container">
    <div  *ngIf="!globalVariableService.isAdmin"
    style="color: red; padding: 1vw 1vh; font-size: 1.5vw;">
        You are not authorized to access this panel! 
        <a (click)="loginAdmin()"
        style="color: blue; cursor: pointer;">Login</a>
         as Administrator</div>
    <div *ngIf="globalVariableService.isAdmin" class="margin">
        <!--Side fade box-->
        <div class="side-fade-box"></div>
        <!--Bottom fade box
        <div class="bottom-fade-box"></div>-->

        <div *ngIf="orders.length == 0"
    style="letter-spacing: 0.3vw; font-weight: bold; color: dodgerblue; padding: 1vw 1vh; font-size: 1.2vw;">
        NO PENDING BILLING</div>

        <div *ngFor="let order of orders; index as j;">

            <div *ngIf="order.state=='BILLING'" class="docket-container prevent-select"
            (click)="selectDocket(j)"
            [style.border]="this.selectedDockets.includes(j)?'0.5vh rgb(142, 236, 0) dashed':'none'">

                <div *ngIf="this.selectedDockets.includes(j)"
                
                style="position: absolute; right: 8.5vw; width: 8vw;top: -2vh;font-size: 1vw; padding: 0.5vh 0;
                box-shadow: 0 0.4vw 0.8vw 0 rgba(0, 0, 0, 0.5);
                color: black; background-color: greenyellow; text-align: center; border-radius: 2vw;">
                    <i class="fa-solid fa-circle-check"></i> SELECTED
                </div>

                <!--Loose Containers-->
                <div class="table-num" [style.backgroundColor]=getOrderColor(order.orderType)
                    *ngIf="order.orderType=='Dine-in'">
                    {{order?.tableNum}}</div>

                <!--Relative Containers-->
                <div class="order-type" [style.backgroundColor]=getOrderColor(order.orderType)>{{order.orderType}}</div>

                
                <div style="font-size: 3vw; text-align: center;margin-top: 2vh;" [style.color]=getOrderColor(order.orderType)>
                    ${{order.total}}</div>
                    <div style="font-size: 1vw; text-align: center;" [style.color]=getOrderColor(order.orderType)>
                        TOTAL</div>



                <br>

                <div class="scrollable-content">
                    <!--FOOD-->
                    <div class="item-heading" [style.color]=getOrderColor(order.orderType)
                        *ngIf="order.foodOrder.length!=0">
                        <i class="fas fa-utensils" style="margin-left: 0.3vw;"></i>
                        <span style="margin-left: 0.7vw;">Food</span>
                    </div>
                    <div class="item-content" *ngIf="order.foodOrder.length!=0">
                        <div class="item" *ngFor="let food of order.foodOrder; index as i;"
                            [style.backgroundColor]="food.state=='REMOVED'?'#ffb8b8':'white'">
                            <a style="color: black; font-size: 1vw;">{{food.label}}</a><br>
                            <a style="color: rgb(51, 51, 51); font-size: 0.8vw;">{{food.addon}}</a>

                            <div class="item-quantity">
                                <a style="font-family: 'calibri'; font-size: 1vw;">
                                    <a style="color: red;">${{food.unitPrice}}</a> x {{food.quantity}}</a>

                            </div>
                        </div>
                    </div>

                    <!--BEVERAGE-->
                    <div class="item-heading" [style.color]=getOrderColor(order.orderType)
                        *ngIf="order.drinkOrder.length!=0">
                        <i class="fas fa-coffee"></i>
                        <span style="margin-left: 0.5vw;">Beverage</span>
                    </div>
                    <div class="item-content" *ngIf="order.drinkOrder.length!=0">
                        <div class="item" *ngFor="let drink of order.drinkOrder; index as i;"
                        [style.backgroundColor]="drink.state=='REMOVED'?'#ffb8b8':'white'">
                            <a style="color: black; font-size: 1vw;">{{drink.label}}</a>

                            <div class="item-quantity">
                                <a style="font-family: 'calibri'; font-size: 1vw;">
                                    <a style="color: red;">${{drink.unitPrice}}</a> x {{drink.quantity}}</a>

                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="customer-content">
                    <br>
                    Order for {{customerData[order.customer]?.fname}} {{customerData[order.customer]?.lname}}<br>
                    <a style="color: rgb(226, 200, 150); font-size: larger; font-weight: bold;">{{order.customer}}</a><br><br>
                    <div style="position: absolute;right: 1.5vw; top: 3vh; font-size: 2vw;" *ngIf="customerData[order.customer]?.rating">
                        {{customerData[order.customer]?.rating}}
                        <i class="fas fa-star"></i>
                    </div>
                    <div style="position: absolute;right: 1.5vw; top: 3vh; font-size: 2vw;" *ngIf="!customerData[order.customer]?.rating">
                        <i class="fa-solid fa-triangle-exclamation" style="color: rgb(245, 126, 126);"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="globalVariableService.isAdmin" class="side-helper" [style.width.vw]="summaryWidth">
        <div class="helper-heading" *ngIf="recieptData.dockets.length != 0">
            <button>PAID</button>
            <a *ngIf="summaryWidth == 30"
            style="float: right;margin-right: 7vw;margin-top: 0.5vh; color: yellowgreen;text-align: right;">${{this.recieptData.total}}</a>
        </div>
        <div class="minimizer"
        (click)="showSummary()">
            <i class="fas fa-chevron-left" style="margin-top: 1.8vw;"></i>
        </div>
        <br>
        <div style="overflow-y: auto; height: 80vh;"  *ngIf="recieptData.dockets.length != 0">
            <div *ngFor="let docket of recieptData.dockets"
            style="background-color: white; height: 5vh;margin-bottom:0.2vh">
                <a style="color: black;">{{orders[docket].total}}</a>
            </div>
        </div>
        <div class="bottom-fade"></div>
        <div  *ngIf="recieptData.dockets.length == 0">
            <pre><p style="color:goldenrod; margin-left: 1vw; font-size: 1vw;">N O   D O C K E T S   S E L E C T E D</p></pre>
        </div>
    </div>
</div>